html
{
	min-height: 100%;
	min-width: 100%;
	-ms-text-size-adjust: none;
}

body,div,dl,dt,dd,ul,ol,li,nav,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a
{
	margin: 0;
	padding: 0;
	border-width: 0;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img
{
	border: 0;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup
{
	font-style: inherit;
	font-weight: inherit;
}

del,ins
{
	text-decoration: none;
}

li
{
	list-style: none;
}

caption,th
{
	text-align: left;
}

h1,h2,h3,h4,h5,h6
{
	font-size: 100%;
	font-weight: inherit;
}

input,button,textarea,select,optgroup,option
{
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

body
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	text-align: left;
	font-size: 14px;
	line-height: 17px;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;/* kerning, primarily */
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	body { text-rendering:auto; }
}

a:link
{
	color: #0000FF;
	text-decoration: underline;
}

a:visited
{
	color: #800080;
	text-decoration: underline;
}

a:hover
{
	color: #0000FF;
	text-decoration: underline;
}

a:active
{
	color: #EE0000;
	text-decoration: underline;
}

a.nontext /* used to override default properties of 'a' tag */
{
	color: black;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}

.Style1 a:link
{
	color: #6464ED;
	text-decoration: none;
}

.Style1 a:visited
{
	color: #476EC1;
	text-decoration: underline;
}

.Style1 a:hover
{
	color: #686868;
	text-decoration: underline;
}

.Style1 a:active
{
	color: #366DBF;
	text-decoration: underline;
}

.normal_text
{
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 17px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	vertical-align: 0px;
	padding: 0px;
}

.TabbedPanelsTab
{
	white-space: nowrap;
}

.MenuBar  .MenuBarView, .MenuBar  .SubMenuView /* Resets for ul and li in menus */
{
	display: block;
	list-style: none;
}

.MenuBar .SubMenu
{
	display: none;
	position: absolute;
}

.NoWrap
{
	white-space: nowrap;
	word-wrap: normal;
}

.rootelem /* the root of the artwork tree */
{
	margin-left: auto;
	margin-right: auto;
}

.colelem /* a child element of a column */
{
	display: inline;
	float: left;
	clear: both;
}

.colelem100 /* a child element of a column that is 100% width */
{
	clear: both;
}

.grpelem /* a child element of a group */
{
	display: inline;
	float: left;
}

.clearfix:after /* force a container to fit around floated items */
{
	content: "\0020";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

*:first-child+html .clearfix /* IE7 */
{
	zoom: 1;
}

.clip_frame /* used to clip the contents as in the case of an image frame */
{
	overflow: hidden;
}

.inclusion_context /* context for positioning a group of elements that share the same height */
{
	display: table;
	table-layout: fixed;
	width: 0.01px;
}

.inclelem /* element of an inclusion context */
{
	display: table-cell;
	vertical-align: top;
}

.f3s_mid /* 3-slice frame, middle slice */
{
	background-repeat: repeat;
}

.f3s_top,.f3s_bot /* 3-slice frame, top slice */
{
	background-repeat: no-repeat;
}

.f9s_top_left, .f9s_bot_left /* 9-slice frame, left corner slice */
{
	background-repeat: no-repeat;
	background-position: left;
}

.f9s_top_right, .f9s_bot_right /* 9-slice frame, right corner slice */
{
	background-repeat: no-repeat;
	background-position: right;
}

.f9s_top_mid, .f9s_bot_mid /* 9-slice frame, top/bottom horizontal slice */
{
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

.f9s_mid_left /* 9-slice frame, left vertical slice */
{
	background-repeat: repeat-y;
	background-position: left;
}

.f9s_mid_right /* 9-slice frame, right vertical slice */
{
	background-repeat: repeat-y;
	background-position: right;
}

.f9s_center /* 9-slice frame, center slice */
{
	background-repeat: repeat;
	background-position: 0px 0px;
}

.popup_anchor /* anchors an abspos popup */
{
	position: relative;
	width: 0px;
	height: 0px;
}

.popup_element
{
	z-index: 100000;
}

.pointer_cursor
{
	cursor: pointer;
}

span.wrap /* used to force wrap after floated array when nested inside a paragraph */
{
	content: '';
	clear: left;
	display: block;
}

span.actAsInlineDiv /* used to simulate a DIV with inline display when already nested inside a paragraph */
{
	display: inline-block;
}

.position_content,.excludeFromNormalFlow /* used when child content is larger than parent */
{
	float: left;
}

.preload_images /* used to preload images used in non-default states */
{
	position: absolute;
	overflow: hidden;
	left: -9999px;
	top: -9999px;
	height: 1px;
	width: 1px;
}

preload /* used to specifiy the dimension of preload item */
{
	height: 1px;
	width: 1px;
}

.animateStates
{
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

input:focus,textarea:focus /* remove default focussed input styling */
{
	outline: none;
}

textarea
{
	resize: none;
	overflow: auto;
}

.fld-prompt /* form placeholders cursor behavior */
{
	pointer-events: none;
}

.wrapped-input /* form inputs & placeholders let div styling show thru */
{
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	border: none;
}

.submit-btn /* form submit buttons on top of sibling elements */
{
	z-index: 50000;
	cursor: pointer;
}

.anchor_item /* used to specify anchor properties */
{
	width: 22px;
	height: 18px;
}

.MenuBar .SubMenuVisible, .MenuBarVertical .SubMenuVisible, .MenuBar .SubMenu .SubMenuVisible,.popup_element.Active,span.actAsPara,.actAsDiv,a.nonblock.nontext,img.block
{
	display: block;
}

.ose_ei
{
	visibility: hidden;
	z-index: 0;
}

.widget_invisible,.js .invi,.js .mse_pre_init,.js .an_invi /* used to hide the widget before loaded */
{
	visibility: hidden;
}

.no_vert_scroll
{
	overflow-y: hidden;
}

.always_vert_scroll
{
	overflow-y: scroll;
}

.always_horz_scroll
{
	overflow-x: scroll;
}

.popup_element.Inactive,.js .disn,.hidden
{
	display: none;
}

.fullscreen
{
	overflow: hidden;
	left: 0px;
	top: 0px;
	position: fixed;
	height: 100%;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.fullwidth
{
	position: absolute;
}

.borderbox
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.scroll_wrapper
{
	position: absolute;
	overflow: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.browser_width > *
{
	position: absolute;
	left: 0px;
	right: 0px;
}

.MenuBar .MenuItemContainer,.SlideShowContentPanel .fullscreen img
{
	position: relative;
}

.accordion_wrapper
{
	display: inline;
	float: left;
	width: 0px;
}
.version.index /* version checker */
{
	color: #000018;
	background-color: #D40C9E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -57px;
}

#pu74
{
	width: 0.01px;
	margin-left: 43px;
}

#u74
{
	z-index: 2;
	width: 816px;
	position: relative;
	margin-right: -10000px;
}

#u80
{
	z-index: 4;
	width: 125px;
	-pie-box-shadow: 3px 5px 8px #C9C9C9;
	-moz-box-shadow: 3px 5px 8px rgba(148, 148, 148, 0.5);
	-webkit-box-shadow: 3px 5px 8px -1px rgba(148, 148, 148, 0.5);
	box-shadow: 3px 5px 8px rgba(148, 148, 148, 0.5);
	border-color: #000000;
	background-color: #949494;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 277px;
}

#u82-4
{
	z-index: 5;
	width: 125px;
	min-height: 24px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: -1px;
}

#u83
{
	z-index: 9;
	width: 125px;
	-pie-box-shadow: 3px 5px 8px #C9C9C9;
	-moz-box-shadow: 3px 5px 8px rgba(148, 148, 148, 0.5);
	-webkit-box-shadow: 3px 5px 8px -1px rgba(148, 148, 148, 0.5);
	box-shadow: 3px 5px 8px rgba(148, 148, 148, 0.5);
	border-color: #000000;
	background-color: #949494;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 412px;
}

#u84-4
{
	z-index: 10;
	width: 125px;
	min-height: 24px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: -1px;
}

#u85
{
	z-index: 14;
	width: 125px;
	-pie-box-shadow: 3px 5px 8px #C9C9C9;
	-moz-box-shadow: 3px 5px 8px rgba(148, 148, 148, 0.5);
	-webkit-box-shadow: 3px 5px 8px -1px rgba(148, 148, 148, 0.5);
	box-shadow: 3px 5px 8px rgba(148, 148, 148, 0.5);
	border-color: #000000;
	background-color: #949494;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 547px;
}

#u80:hover,#u83:hover,#u85:hover
{
	background-color: #5A71A5;
	margin: 179px -10000px 0px 0px;
}

#u86-4
{
	z-index: 15;
	width: 125px;
	min-height: 24px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: -1px;
}

#u87
{
	z-index: 19;
	width: 125px;
	-pie-box-shadow: 3px 5px 8px #C9C9C9;
	-moz-box-shadow: 3px 5px 8px rgba(148, 148, 148, 0.5);
	-webkit-box-shadow: 3px 5px 8px -1px rgba(148, 148, 148, 0.5);
	box-shadow: 3px 5px 8px rgba(148, 148, 148, 0.5);
	border-color: #000000;
	background-color: #949494;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 683px;
}

#u87:hover
{
	background-color: #5A71A5;
	margin: 178px -10000px 0px 0px;
}

#u88-4
{
	z-index: 20;
	width: 125px;
	min-height: 24px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: -1px;
}

#u591
{
	z-index: 109;
	width: 531px;
	-pie-box-shadow: 3px 5px 8px #C9C9C9;
	-moz-box-shadow: 3px 5px 8px rgba(148, 148, 148, 0.5);
	-webkit-box-shadow: 3px 5px 8px -1px rgba(148, 148, 148, 0.5);
	box-shadow: 3px 5px 8px rgba(148, 148, 148, 0.5);
	border-color: #000000;
	background-color: #949494;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding-bottom: 5px;
	margin-left: 319px;
	position: relative;
}

#u591:hover
{
	background-color: #5A71A5;
	margin: 0px 0px 0px 319px;
}

#u592-4
{
	z-index: 110;
	width: 203px;
	min-height: 24px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 164px;
}

#ppu89
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 9px;
}

#pu89
{
	z-index: 24;
	width: 0.01px;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u89
{
	z-index: 0;
	width: 920px;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u89.f3s_top
{
	background-image: url("../images/u89-sprite.png");
	width: 920px;
	overflow: hidden;
	height: 9px;
	background-position: left top;
}

._u89.f3s_mid
{
	background-image: url("../images/u89-sprite.png");
	overflow: visible;
	background-position: -920px top;
	width: 920px;
	height: 1517px;
}

._u89.f3s_bot
{
	background-image: url("../images/u89-sprite.png");
	width: 920px;
	overflow: visible;
	height: 7px;
	background-position: -1840px top;
}

#pppu94
{
	width: 0.01px;
	position: relative;
	left: 21px;
	padding-top: 35px;
	z-index: 2;
	padding-bottom: 21px;
}

#ppu94
{
	width: 0.01px;
	margin-left: 6px;
}

#pu94
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u94
{
	z-index: 45;
	width: 93px;
	position: relative;
}

#u106
{
	z-index: 47;
	width: 93px;
	margin-top: 49px;
	position: relative;
}

#u504
{
	z-index: 73;
	width: 93px;
	margin-top: 150px;
	position: relative;
}

#u91-19
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#u521-9
{
	z-index: 84;
	display: block;
	vertical-align: top;
	margin-left: 112px;
	margin-top: 337px;
	position: relative;
}

#u517-7
{
	z-index: 77;
	display: block;
	vertical-align: top;
	margin-left: 116px;
	margin-top: 32px;
	position: relative;
}

#u112-5
{
	z-index: 49;
	margin-left: 116px;
	margin-top: 49px;
	position: relative;
}

#pu537
{
	z-index: 93;
	width: 0.01px;
	position: relative;
	margin-top: 60px;
}

#u537
{
	z-index: 0;
	width: 877px;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u537.f3s_top
{
	background-image: url("../images/u537-sprite.png");
	width: 877px;
	overflow: hidden;
	height: 8px;
	background-position: left top;
}

._u537.f3s_mid
{
	background-image: url("../images/u537-sprite.png");
	overflow: visible;
	background-position: -877px top;
	width: 877px;
	height: 211px;
}

._u537.f3s_bot
{
	background-image: url("../images/u537-sprite.png");
	width: 877px;
	overflow: visible;
	height: 7px;
	background-position: -1754px top;
}

#pu531
{
	width: 0.01px;
	position: relative;
	left: 98px;
	padding-top: 10px;
	z-index: 2;
	padding-bottom: 28px;
}

#u531
{
	z-index: 94;
	margin-bottom: -9px;
	position: relative;
	width: 274px;
	margin-right: -10000px;
	margin-top: 48px;
}

#u112-5_img,#u531_img
{
	display: block;
	vertical-align: top;
}

#pu540-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 274px;
}

#u540-4
{
	z-index: 96;
	display: block;
	vertical-align: top;
	position: relative;
}

#u541
{
	z-index: 100;
	width: 390px;
	-pie-box-shadow: 6px 6px 8px #C9C9C9;
	-moz-box-shadow: 6px 6px 8px rgba(148, 148, 148, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(148, 148, 148, 0.5);
	box-shadow: 6px 6px 8px rgba(148, 148, 148, 0.5);
	border-color: #000000;
	background-color: #FFE7D0;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	margin-left: 10px;
	margin-top: 15px;
	position: relative;
	padding: 15px 9px 14px 12px;
}

#u543-4
{
	z-index: 101;
	display: block;
	vertical-align: top;
	position: relative;
}

#u545-4
{
	z-index: 105;
	display: block;
	vertical-align: top;
	margin-left: 6px;
	margin-top: 15px;
	position: relative;
}

#u510
{
	z-index: 75;
	width: 777px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(144, 144, 144, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(144, 144, 144, 0.5);
	box-shadow: 6px 6px 8px rgba(144, 144, 144, 0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 130px;
}

#u90
{
	z-index: 25;
	width: 919px;
	border-color: #000000;
	background-color: #5A71A5;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	padding-bottom: 8px;
	margin-left: 21px;
	margin-top: 17px;
	position: relative;
}

#u115-11
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 13px;
}

#u117-8
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 508px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 83px;
}

#page .verticalspacer
{
	clear: both;
}
